<h2>Detail Page for the article</h2>

<h3><%= @article.title %></h3>

<div>
    <%= @article.content %>
</div>

<a href="/articles">Article Index Page</a>
<a href="/articles/<%= @article.id %>/edit">Edit this article</a>
<form action="/articles/<%= @article.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this article">
</form>
